@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Inter:wght@100&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fff;

}

h1, h2 {
    color: #403E1C;
    font-size: bold;
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
    position: relative;
}

h2:before {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    position: absolute;
    background: #000;
    left: 0;
    top: 50%;
    z-index: -2;

}
h2:after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    position: absolute;
    background: #000;
    right: 0;
    top: 50%;
    z-index: -2;
    
}

span {
    background: #fff;
    padding: 0 20px;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg, #fff, transparent), url(./img/background-header.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.header-text {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 65px;
    margin-bottom: 15px;
}

.content p {
    font-size: 25px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    background-color: #FECECE;
    color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 25px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.btn:hover {
    background-color: #F59999;
}

.timeline-image {
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
}

.timeline-image img {
    max-width: 100%;
    max-height: 1184px;
    display: block;
    margin: auto;
    padding-top: 50px;
}